.container img {
  width: 50px;
  height: auto;
 
}

.container {
  background-color: #7CF49E;
}

#colorFondoFooter {
  background-color:#121735 ;
}

#nombres {
  color: rgba(25, 6, 48, 0.984);
  
}




