/*General */

body{
    background-color: rgba(25, 6, 48, 0.984);
}

h1,h2,p{
    color: white;
}

/* Header*/

.navbar-nav .nav-link{
    color: #7CF49E;
}

.navbar-toggler{
    background-color: #7CF49E;
}

/* Main */

.map-div{
    width: 50%;
    height: 50%;
}

a :active{
    fill:rgb(251, 209, 129);
    opacity: 0.2;
}
