<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <section id="cajonMap">
        
        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 375 529">
            <image width="375" height="529" xlink:href="/path/to/image"></image> <a xlink:href="#bomboCajon">
              <rect x="111" y="182" fill="#fff" opacity="0" width="247" height="190"></rect>
            </a><a xlink:href="#cajaIzq">
              <rect x="113" y="66" fill="#fff" opacity="0" width="126" height="100"></rect>
            </a><a xlink:href="#cajaDer">
              <rect x="255" y="60" fill="#fff" opacity="0" width="113" height="108"></rect>
            </a>
          </svg>

    </section>

    <section id="clapMAp">

        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 256 351">
            <image width="256" height="351" xlink:href="/path/to/image"></image> <a xlink:href="#clap">
              <rect x="23" y="27" fill="#fff" opacity="0" width="185" height="253"></rect>
            </a><a xlink:href="#cajaDer">
              <rect x="255" y="60" fill="#fff" opacity="0" width="113" height="108"></rect>
            </a>
          </svg>
          
    </section>
</body>
</html>