<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Cajon</title>
  <link rel="stylesheet" href="/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styleCajon.css">
  <link rel="stylesheet" href="/css/footer.css"
  </head>
<body>
  <main>
    <div class="container text-center container-fluid mt-3">   
      <div class="row">
        <div class="col-12">
          <a class="logo_cajon large_logo" href="./index.html">
            <img src="../media/img/logo.png" alt="logo-drum5">
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 mt-3">
          <h1>Music for everyone.</h1>
        </div>
      </div>
      <div id="contenedor-imagenes" class="m-auto mt-4">
        <div class="row">
          <div class="col-6">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 375 529">
              <image width="375" height="529" xlink:href="../media/img/caja.png"></image> 
              <a xlink:href="bomboCajon">
                <rect x="140" y="182" fill="#fff" opacity="0" width="190" height="190" rx="150" ry="150" id="bomboCajon"></rect>
              </a><a xlink:href="agudoCajon">
                <rect x="113" y="66" fill="#fff" opacity="0" width="126" height="100" rx="150" ry="150" id="agudoCajon"></rect>
              </a><a xlink:href="agudoCajonFuerte">
                <rect x="255" y="60" fill="#fff" opacity="0" width="126" height="108" rx="150" ry="150" id="agudoCajonFuerte"></rect>
              </a>
            </svg>
          </div>
        
          <div class="col-6">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 256 351">
              <image id="imageClap" width="256" height="351" xlink:href="../media/img/palmas 2.png"></image> 
              <a xlink:href="#clap">
                <rect x="45" y="100" fill="#fff" opacity="0" width="120" height="150" rx="150" ry="150" id="clap"></rect>
              </a>
            </svg>            
          </div>
        </div>
        
      </div>
      
      <section class="mt-5">
        <h2>Try Premium free for 1 month.</h2>
        <p>And enjoy the drum-box and more instruments to come! .</p>
        <button type="button" class="btn btn-light btn-lg">See Pricing</button>
      </section>

    </div>
  </main>

        
  <footer class="navbar navbar-expand">
    <div class="container footer">
      <span class="navbar-text ml-auto" id="logo"> 
        <img src="/media/img/social-media.png" alt="logos redes sociales" class="img-fluid img-grande" >
      </span>
      <span class="navbar-text ml-auto" id="nombres">
        David | Carmen | Angela | Miguel  @2023 Drum5. Todos los derechos reservados.
      </span>  
    </div>
  </footer>
        
  <script src="../js/bootstrap.bundle.js"></script>
  <script src="../js/cajon.js"></script>

</body>
</html>